body {
    background-image: url("/Library/WebServer/Documents/html_css_training/img/bg.jpg");
    background-color:#3B170B;
}

h1 {
    color: #3B170B;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 60px;
    font-style: oblique;
}
