.table1{

}
.table2{

}
h1{
  color: #007509;
  position: relative;
  padding-left:40%;
  top:5%;
}
#userInput{
  position: absolute;
  left: 40%;
  top:15%;
  color: #1F5C95;
  font-size: 20px;
  width: 500px;
  clear: both;
}
#output{
  position: absolute;
  left: 40%;
  top: 60%;
  color: #1F5C95;
  font-size: 20px;
}

input[type="submit"]{
    position: absolute;
    top: 105%;
    left: 5%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
select,input[type="text"]{
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
  color: #1F5C95;
  background-color: beige;

}
select{
    background: transparent;
    width: 40%;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    height: 34px;
    color: #1F5C95;
}
tr{
  text-align: left;
}

