body{
  position: relative;
}
h1{
  margin-left:47%;
  margin-top: 10%;
  margin-bottom: -10%;
  color:  #205081;
}
.main{
  position: relative;
  height:50%;
  width: 50%;
  left:25%;
  top:25%;
  background-color: #EE413D;
}
form{
  position: relative;
    padding-left: 20%;
    padding-right: 20%;
    top: 26%;
}
input[type="text"]{
  border:1px solid #000;
  font-size: 25px;
  width: 30%;
  height:10%;
  margin-bottom: 5%;
  margin-left: 37%;
  color:#205081;
  text-align: center;
}
.button{

 border-radius: 5px;
      margin: auto;
    margin-left: 12%;
  font-size: 22px;
  text-decoration: none;

  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}
#ans{
  height:10%;
  width:120%;

  text-align: center;
  margin-left:-7%;
  margin-top:5%;
  font-size: 25px;
  color:white;
}

#err{
  height:10%;
  width:120%;
  font-size: 25px;
  text-align: center;
  margin-left:-7%;
  margin-top:5%;
   color:white;
}
